// font-size
// =========
@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


// Animations
// ==========

/**
 * Custom Animations
 *
 * アニメーションを自由に設定する
 *

 @include customAnimation(animation-name, 5s, ease-in-out, infinite) {
   0% {
     top: 0;
   }
   50% {
     top: 100%;
   }
   100% {
     top: 0;
   }
 }

*/
@mixin customAnimation($animationName_, $duration_, $ease_, $repeat_) {
  @include keyframes($animationName_) {
    @content;
  }
  @include animation($animationName_ $duration_ $ease_ $repeat_);
}


// keyframes
// =========

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

$default-duration: 240ms;

// hover で反応するライン
// $color ... ラインの色
// $bottom ... ラインのポジション
// $spread ... マウスオーバー時にラインを広げるか true / false
// =========
@mixin line-interaction($color: #fff, $bottom: 0, $spread: true, $line-width: 1px, $hold: false) {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &:before {
    position: absolute;
    display: block;
    height: 0;
    content: '';
    border-bottom: solid $line-width $color;
    transform: translateY(1px);
    bottom: $bottom;
    left: 0;

    @if ($spread) {
      width: 0;
      margin-left: 50%;
    } @else {
      width: 105%;
      margin-left: -2.5%;
    }

    @include transition(width $default-duration $easeInOutQuart, margin-left $default-duration $easeInOutQuart, opacity $default-duration $easeInOutQuart);
  }

  @if ($hold==false) {
    &:hover {
      &:before {
        @if ($spread) {
          width: 105%;
          margin-left: -2.5%;
        } @else {
          width: 0;
          margin-left: 50%;
        }
      }
    }
  }
}
