// todo: .heading が有効にならないので .tpl-link-2 などに調整しないといけないかも？

.tpl-link {
  display: inline-block;
  position: relative;

  &:before {
    border-bottom: solid 1px #000;
    bottom: 0.5em;
    content: '';
    display: block;
    height: 0;
    left: 0;
    margin-left: 2.5%;
    position: absolute;
    transform: translateY(1px);
    width: 95%;

    @include transition(width 1500ms $easeOutQuart, margin-left 1500ms $easeOutQuart, opacity 1500ms $easeOutQuart, border-color 100ms $easeOutQuart);

    @include responsive(sp) {
      margin-left: 2.5%;
      width: 95%;
    }
  }

  &:hover {
    &:before {
      //border-bottom-style: dotted;
      border-color: #dadae2;
    }
  }

  &.ani-button--dead {
    &:before {
      border-bottom-style: solid;
      margin-left: 50%;
      border-color: #000;
      width: 0;
    }
  }
}

.tpl-link--special {
  @extend .tpl-link;
  color: blue;

  &:before {
    border-bottom-color: blue;
  }
}
