
@mixin heading {
  display: block;
  font-weight: bold;
  padding-top: 2em;
}

@mixin heading-2 {
  display: block;
  font-weight: bold;
  padding-top: 2em;
  color: #666;
}

// basic
// =====

html, body {
}

* {
  box-sizing: border-box;
}


// init
// ====
.inline {
  display: inline;
}

.ani-button--dead {
  display: inline;
  & > .heading {
    @include heading;
  }

  & > .heading-2 {
    @include heading-2;
  }
}

.tpl-link.ani-button--dead {
}

.tpl-link.ani-button--heading {
  display: block;
}

.force-heading {
  @include heading;
}

.force-heading-2 {
  @include heading-2;
}

.child {
  display: none;
}

.none {
  display: none;
}
