$size-main: 50%;
$size-sub: 50%;
$size-sub--sp: 100%;
$content-margin-right: 100px;
$content-margin-right--tablet: 50px;
$margin-between-main-sub: 25px;
$margin-between-main-sub--tablet: 50px;

.l-slide-nav {
  > li {
    display: inline-block;
    list-style: none;
    padding: 0;
    padding-left: 5px;
    @include fontsize(12);

    .icon-circle-01 {
      @include opacity(0.5);
      &.active {
        @include opacity(1);
      }
    }

  }
}

.l-wrap {
  padding-right: $content-margin-right;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  width: 100%;

  @include clearfix();
  @include responsive('tablet') {
    //padding-right: $content-margin-right--tablet;
    padding-right: 35px;
  }
}

.l-main {
  float: right;
  padding: 46px 0 46px $margin-between-main-sub;
  position: relative;
  width: $size-main;
  z-index: $z-main;

  @include responsive('tablet') {
    padding-left: $margin-between-main-sub--tablet;
  }

  @include responsive(sp) {
    padding: 55px 10px 500px 10px;
    width: 100%;
    z-index: $z-main-sp;
  }
}

.l-sub {
  float: left;
  padding-right: $margin-between-main-sub;
  width: $size-sub;

  @include responsive('tablet') {
    padding-right: $margin-between-main-sub--tablet;
  }

  &__content {
    padding-top: 46px;
  }
}

.l-slide {
  padding-right: $content-margin-right;
  position: fixed;
  top: 46px;
  width: 100%;
  z-index: $z-sub;

  @include responsive(sp) {
    bottom: 0;
    left: 0;
    padding: 0;
    top: auto;
    width: 100%;
    z-index: $z-sub--sp;
  }

  &__inner {
    padding-right: $margin-between-main-sub;
    width: $size-sub;

    @include responsive(sp) {
      padding-right: $margin-between-main-sub--tablet;
      width: $size-sub--sp;
    }
  }
}

.l-photo-area {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include responsive(sp) {
    height: auto;
  }

  .js-inner {
    left: 0;
    padding-bottom: 100vh;
    position: absolute;
    top: 0;
    @include transition(all 700ms $easeInOutQuad);
  }

  .js-photo-node {
    display: block;
    line-height: 0;

    &--0 {
      padding: 20%;
      padding-bottom: 20%;
      padding-left: 20%;
      padding-top: 10%;
    }

    &--1 {
      padding: 20%;
      padding-bottom: 5%;
      padding-right: 20%;
      padding-top: 20%;
    }

    &--2 {
      padding: 20%;
    }

    &--3 {
      padding: 10%;
      padding: 20%;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}


// .l-modal-docs
// =============
.l-modal-docs {
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  //-webkit-overflow-scrolling: touch;

  &__inner {
    margin: 0 auto;
    max-width: 920px;
    min-height: 100vh;
    padding: 60px 0;

    @include responsive(sp) {
      padding: 45px 0;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}

.l-modal-content {
  @include clearfix();

  margin: 0 40px 50px 40px;

  @include responsive(sp) {
    margin-left: 10px;
    margin-right: 10px;
  }

  &.border {
    border-bottom: 1px solid #000;
    padding: 0 0 50px 0;
  }

  &__left {
    float: left;
    width: 33.3333%;

    @include responsive(sp) {
      width: 100%;
    }
  }

  &__right {
    float: right;
    margin-left: 6.6666%;
    width: 60%;
    @include responsive(sp) {
      width: 100%;
    }
  }

}

.l-souvenir {
  margin-bottom: 2em;
  @include clearfix();

  img {
    height: auto;
    width: 100%;
  }

  p {
    margin: 0;
  }
}

// l-menu
// ======

.l-menu {
  position: absolute;
  right: $content-margin-right;
  top: 0;
  z-index: $z-menu;

  .ua-mobile &{
    left: 12px;
    right: auto;
    top: 18px;
  }

  @include responsive(sp) {
    left: 12px;
    right: auto;
    top: 18px;
  }
}

// l-ar
// ====

.l-ar {
  @include clearfix();
  overflow: hidden;
  padding-right: $content-margin-right;
  width: 100%;

  @include responsive(sp) {
    padding-right: $content-margin-right--tablet;
  }

  &__left {
    float: left;
    padding: 46px 25px 46px 0;
    position: relative;
    width: 50%;

    img {
      height: auto;
      width: 100%;
    }

    @include responsive(sp) {
      float: none;
      padding: 0 0 15px 0;
      width: 100%;
    }


  }

  &__right {
    float: right;
    padding: 46px 0 46px 25px;
    position: relative;
    width: 50%;
    img {
      height: auto;
      width: 100%;
    }

    @include responsive(sp) {
      float: none;
      padding: 15px 0 0 0;
      width: 100%;
    }
  }
}

// vertical align middle
// =====================
.l-v-middle {
  @include display-flex;
  @include align-items(center);

  height: 100vh;
  overflow: hidden;
  width: 100%;
}
